*{
    box-sizing: border-box;
    margin:0;
}
.header {
    width: 1024px;
    height: 65px;
    margin: auto;
    /* background-color: lightblue; */
    border:1px solid black;
}


.containter {
    width: 1024px;
    height: calc(768px - 65px - 20px);    
    margin: auto;
    display:flex;
    /* background-color:lightcoral; */
}

.container-left{
 width:215px;
 height:100%;
 /* border:1px solid black;   */
}

.cl-top{
 width:100%;
 height:calc(100% - 25px);
 border:1px solid black;  
 border-top:0;
 border-right:0;
}

.cl-bottom{
 width:100%;
 height:25px;
 border:1px solid black;  
 border-top:0;
 border-bottom:0;
 border-right:0;
}

.container-right{
width:calc(100% - 215px);
height:100%;
/* border:1px solid black; */
}
   
.cr-top{
width:100%;
height:29px;
border:1px solid black;  
/* background-color: lightpink; */
border-top:0;
}

.cr-bottom{
width:100%;
height:calc(100% - 29px);
border:1px solid black;  
/* background-color: lightblue; */
border-top:0;
border-bottom:0;
}




.footer {
    width: 1024px;
    height: 20px;
    margin: auto;
    /* background-color:lightgreen; */
    border:1px solid black;
}

/* a>img {
    width: 1024px;
    height: 65px;
    margin: auto;
} */